@font-face {
  font-family: JFWilwod;
  src: url('./assets/fonts/JFWilwod.ttf');
}

@font-face {
  font-family: Pinewood;
  src: url('./assets/fonts/Pinewood.ttf');
}

@font-face {
  font-family: WoodWud;
  src: url('./assets/fonts/WoodWud.ttf');
}

@font-face {
  font-family: Logger;
  src: url('./assets/fonts/Logger.ttf');
}

@font-face {
  font-family: DeathBranch;
  src: url('./assets/fonts/DeathBranch.ttf');
}

@font-face {
  font-family: force5;
  src: url('./assets/fonts/force5.ttf');
}







html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: Pinewood;
}

ul, li, h1, h2, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

._active {
  display: block !important;
}

.container {
  position: relative;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  background-image: url("./assets/img/game-background.jpeg");
}

.game, .rules {
  display: none;
  width: 800px;
  height: 650px;
  margin: 0 auto ;
  background-color: inherit;
}

.rules {
  margin-top: 55px;
  color: #EEE8DF;
}

.rules h1 {
  margin-bottom: 25px;
}

.rules-description li {
  margin-bottom: 15px;
}

.menu {
  position: relative;
  height: 55px;
}

.button {
  position: absolute;
  min-width: 150px;
  padding: 5px;
  border-radius: 15px;
  background-color: #EEE8DF;
  text-align: center;
}

._opened {
  border: none;
  border-radius: 0;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: lightblue;
}

.scrit {
  top: 10px;
  left: 30px;
}

.difficulty {
  top: 10px;
  left: 200px;
}

.score {
  top: 10px;
  left: 370px;
}

.newGame {
  top: 10px;
  right: 100px;
}

.scritTable {
  position: absolute;
  display: none;
  top: 38px;
  left: 30px;
  width: 150px;
  background-color: rgba(0,0,0,0.6);
}

.difficultyTable {
  position: absolute;
  display: none;
  top: 38px;
  left: 200px;
  width: 150px;
  height: 175px;
  background-color: rgba(0,0,0,0.6);
}

.scoreTable {
  position: absolute;
  display: none;
  top: 38px;
  left: 370px;
  width: 150px;
  height: 175px;
  background-color: rgba(0,0,0,0.6);
}

.rules {
  text-align: center;
}

.rules-description {
  margin-bottom: 25px;
  list-style: none;
}

.registration {
  margin-bottom: 25px;
}

.registration h2 {
  margin-bottom: 15px;
}

.register {
  position: relative;
  display: inline-block;
  color: black;
}

.scirtCard {
  padding: 5px;
  text-align: center;
}

.scirtCard img {
  width: 50px;
}

.scirtCard img:hover {
  box-shadow: 0 0 0 2px lightblue;
  cursor: pointer;
}

