@font-face {
    font-family: JFWilwod;
    src: url('./assets/fonts/JFWilwod.ttf');
}

@font-face {
    font-family: Pinewood;
    src: url('./assets/fonts/Pinewood.ttf');
}

@font-face {
    font-family: WoodWud;
    src: url('./assets/fonts/WoodWud.ttf');
}

@font-face {
    font-family: Logger;
    src: url('./assets/fonts/Logger.ttf');
}

@font-face {
    font-family: DeathBranch;
    src: url('./assets/fonts/DeathBranch.ttf');
}

@font-face {
    font-family: force5;
    src: url('./assets/fonts/force5.ttf');
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body {
    font-family: Pinewood;
}

ul,
li,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

._active {
    display: block !important;
}

.container {
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background-image: url("./assets/img/game-background.jpeg");
}

.game,
.rules {
    display: none;
    width: 800px;
    height: 650px;
    margin: 0 auto;
    background-color: inherit;
}

.rules {
    margin-top: 55px;
    color: #EEE8DF;
}

.rules h1 {
    margin-bottom: 25px;
}

.rules-description li {
    margin-bottom: 15px;
}

.menu {
    position: relative;
    height: 55px;
}

.button {
    position: absolute;
    min-width: 150px;
    padding: 5px;
    border-radius: 15px;
    background-color: #EEE8DF;
    text-align: center;
}

._opened {
    border: none;
    border-radius: 0;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: lightblue;
}

.scrit {
    top: 10px;
    left: 30px;
}

.difficulty {
    top: 10px;
    left: 200px;
}

.score {
    top: 10px;
    left: 370px;
}

.newGame {
    top: 10px;
    right: 30px;
}

.scritTable {
    position: absolute;
    display: none;
    top: 38px;
    left: 30px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
}

.difficultyTable {
    position: absolute;
    display: none;
    top: 38px;
    left: 200px;
    width: 150px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.6);
}

.difficultyTableMenu {
    margin-top: 30px;
}

.difficultySelect {
    padding: 5px 15px;
    text-align: center;
    color: #EEE8DF;
    font-size: 27px;
}

.scoreTable {
    position: absolute;
    display: none;
    top: 38px;
    left: 370px;
    width: 150px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.6);
}

.rules {
    text-align: center;
}

.rules-description {
    margin-bottom: 25px;
    list-style: none;
}

.registration {
    margin-bottom: 25px;
}

.registration h2 {
    margin-bottom: 15px;
}

.register {
    position: relative;
    display: inline-block;
    color: black;
}

.scirtCard {
    padding: 5px;
    text-align: center;
}

.scirtCard img {
    width: 50px;
}

.scirtCard img:hover,
.difficultySelect:hover {
    box-shadow: 0 0 0 2px lightblue;
    cursor: pointer;
}

.game {
    position: relative;
    padding: 25px;
    text-align: center;
    /* justify-content: center;
    flex-wrap: wrap; */
}

.user-display {
    font-size: 20px;
    max-width: 150px;
    overflow: auto;
    position: absolute;
    top: 13px;
    right: 315px;
    color: #EEE8DF;
}

.userCounter {
    position: absolute;
    right: 240px;
    top: 0;
    color: #EEE8DF;
    font-size: 35px;
}

.card,
.front,
.back {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 25px;
    width: 140px;
    height: 210px;
    background-size: cover;
}

.gold {
    background-image: url("./assets/img/scirtGold.png");
}

.blue {
    background-image: url("./assets/img/scritBlue.png");
}

.black {
    background-image: url("./assets/img/scritBlack.png");
}

.card {
    perspective: 1000px;
}


/* flip the pane when hovered */


/*.card:hover .flipper, .card.hover .flipper,*/

.card._opened .flipper {
    transform: rotateY(180deg);
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

.win {
    position: absolute;
    top: 200px;
    left: -25px;
    font-size: 45px;
    text-align: center;
    color: #EEE8DF;
}